button{
  border-radius: 10px;
  padding: 12px;
  font-size: 20px;
}

.container{
  border: 3px solid #95bcff;
  border-radius: 10px;
  width: 400px;
  height: 300px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title{
  background-color: #95bcff;
  color: #FFFFFF;
  width: 100%;
  font-size: 45px;
  font-style: italic;
  text-align: center;
  margin: 20px auto;
}

.buttons{
  text-align: center;
  margin-top: 20px;
}

#timer{
  width: 100%;
  font-size: 85px;
  font-weight: bold;
  text-align: center;
  margin: 0px auto;
}
